<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Главная</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/CourseTry1.styles.css" asp-append-version="true" />
    @await Html.PartialAsync("LinkPartial")
</head>
<body>
    <header class="header">
        <div class="header_inner">
            <div class="header_inner--logo">
                <a href="#" class="header_inner--img">
                    <img src="~/img/bntu-logo.png" width="60" height="60" alt="logo btnu" />
                </a>
            </div>
            <div class="header_inner--profile">
                <ul class="header_inner--miniprofile">
                    <li class="header_inner--item">
                        @User.Identity.Name
                        <ul class="header_inner--setting">
                            <li class="header_inner--subItem"><a asp-action="Logout" asp-controller="Account">Настройки</a></li>
                            <li class="header_inner--subItem"><a asp-action="Logout" asp-controller="Account">Выйти</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer class="footer">

    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
