@model RegisterViewModel

@{
    Layout = "_AccountLayout";
}

<div class="main_inner">
    <div class="main_inner--body">
        <div class="main_inner--nav">
            <a class="main_inner--back" href="Login">
                <img src="~/img/left-arrow.png" width="20" height="20" alt="Back to login"/>
            </a>
        </div>
        <h2 class="main_inner--text">Регистрация</h2>
        <img class="main_inner--logo" src="~/img/bntu-logo.png" width="100" height="100" alt="icon bntu" />
        <div></div>
        <form class="main_inner--form" asp-asp-controller="Account" asp-action="Registered" method="post" asp-anti-forgery="true">
            <div class="main_inner--values">
                <label class="main_inner--label" asp-for="Login">Логин</label>
                <input class="main_inner--input" asp-for="Login" type="text" />
                <span class="main_inner--validation" asp-validation-for="Login"></span>
            </div>
            <div class="main_inner--values">
                <label class="main_inner--label" asp-for="Password">Пароль</label>
                <input class="main_inner--input" asp-for="Password" />
                <span class="main_inner--validation" asp-validation-for="Password"></span>
            </div>
            <div class="main_inner--values">
                <label class="main_inner--label" asp-for="ConfirmPassword">Пароль</label>
                <input class="main_inner--input" asp-for="ConfirmPassword" />
                <span class="main_inner--validation" asp-validation-for="ConfirmPassword"></span>
            </div>
            <div class="main_inner--container-btn">
                <input class="btn" type="submit" value="Зарегистрироваться"/>
                @* <a class="btn" href="Login">Войти</a> *@
            </div>
        </form>
    </div>
</div>
