



@* <div class="main_view">
    <div class="main_options">
        <input type="radio" id="first" name="btn_settings" value="" checked="checked" />
        <label for="first">Понедельник</label>
        <input type="radio" id="second" name="btn_settings" value="" />
        <label for="second">Вторник</label>
        <input type="radio" id="third" name="btn_settings" value="" />
        <label for="third">Среда</label>
        <input type="radio" id="fouth" name="btn_settings" value="" />
        <label for="fouth">Четверг</label>
        <input type="radio" id="fifth" name="btn_settings" value="" />
        <label for="fifth">Пятница</label>
        <input type="radio" id="six" name="btn_settings" value="" />
        <label for="six">Суббота</label>
    </div>

    <div class="indexmain_table">
        <table>
            <thead class="indexmain_table--head">
                <tr>
                    <th></th>
                    <th>Время</th>
                    <th>Дисциплина</th>
                    <th>Преподаватель</th>
                    <th>Корпус</th>
                    <th>Аудитория</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="5">Понедельник</td>
                    <td>08:00</td>
                    <td>Языки программирования</td>
                    <td>доц. Сидорик В. В.</td>
                    <td>11</td>
                    <td>104</td>
                </tr>
                <tr>
                    <td>08:00</td>
                    <td>Языки программирования</td>
                    <td>доц. Сидорик В. В.</td>
                    <td>11</td>
                    <td>104</td>
                </tr>
                <tr>
                    <td>08:00</td>
                    <td>Языки программирования</td>
                    <td>доц. Сидорик В. В.</td>
                    <td>11</td>
                    <td>104</td>
                </tr>
                <tr>
                    <td>08:00</td>
                    <td>Языки программирования</td>
                    <td>доц. Сидорик В. В.</td>
                    <td>11</td>
                    <td>104</td>
                </tr>

            </tbody>
        </table>
    </div>
</div> *@
