
<div class="main">
    <aside class="main_side">
        <ul class="main_side--list-groups">
            <li class="main_side--item">test</li>
            <li class="main_side--item">test</li>
            <li class="main_side--item">test</li>
            <li class="main_side--item">test</li>
            <li class="main_side--item">test</li>
            <li class="main_side--item">test</li>
            <li class="main_side--item">test</li>
            <li class="main_side--item">test</li>
        </ul>
    </aside>
</div>