<main class="main">
    <div class="main_search">
        <div class="main_serach--inner">
            <img src="~/img/search.svg" width="60" height="60" alt="icon to search" />
            <form class="main_search--area" method="post">
                <input class="main_search--input main_inner--input" type="text" />
                <input class="btn main_search--btn" type="submit" value="Найти" />
            </form>
        </div>
    </div>
    <div class="main_table">
        <table class="main_table--table">
            <thead>
                <tr>
                    <th>Login</th>
                    <th>Password</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</main>