* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
}

a:hover {
    color: black;
}

.main {
    background-color: #e8ebed;
    /*font-family: Roboto;
    font-weight: 400;
    font-size: 14px;*/
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.main_inner {
    max-width: 400px;
    min-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 35px 25px;
    border: 1px solid #f6f6f6;
    position:relative;
    text-align:center;
}

.main_inner--text {
    font-size: 20px;
    margin-bottom: 20px
}

.main_inner--logo {
    margin: 25px auto;
}

.main_inner--values {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.main_inner--input {
    padding: 10px 15px;
    border: 2px solid #f2f2f2;
    margin: 5px 0 0 0;
    border-radius: 5px;
    transition: all 0.3s;
}

.main_inner--input:focus {
border: 3px solid rgba(0, 128, 84, .95);
}

.main_inner--input:active  {
    border: 3px solid rgba(0, 128, 84, .95);
}

.btn {
    color: #fff;
    border-radius: 5px;
    background-color: rgba(0, 128, 84, .85);
    text-align: center;
    padding: 7px 16px;
    transition: all 0.3s;
}

.btn:hover {
    background-color: rgba(0, 128, 84, .95);
    color: white;
}

.main_inner--container-btn {
    margin-top: 10px;
    display:flex;
    justify-content: space-between;
}

.main_inner--validation {
    color: #e63232;
    margin-top: 5px;
}

.main_inner--nav {
    margin-bottom: 10px;
    text-align: start;
}

.main_inner--back {
    border-radius: 50%;
    transition: all .3s;
    padding: 3px 3px 8px 3px;
}

.main_inner--back:hover {
    background-color: #e8ebed;
}

.header {
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #eeeeee;
    align-items: center;

}

.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 37px;
    height: 100%;
}

.header_inner--miniprofile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    
}

.header_inner--item {
    position: relative;
    width: 140px;
}

.header_inner--item span {
    font-size: 20px;
}

.header_inner--profile {
    height: 100%;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_inner--setting {
    position: absolute;
    left: 0px;
    padding: 0px;
    padding-top: 20px;
    display: none;
    transition: all .5s;
    background-color: #fff;
}

.header_inner--item:hover > .header_inner--setting {
    display:initial;
}

.header_inner--subItem {
    height: 100%;
    font-size: 20px;
    padding: 8px 0 8px 0;
    border: 1px solid rgba(0,0,0, 0.1);
    transition: all 0.3s;
}

.header_inner--subItem:hover {
    background-color: #e8ebed;
}

.header_inner--subItem img {
    margin-right: 10px;
}

.header_droparrow > img{
    transition: all .3s;
}

.header_droparrow:hover > img {
    transform: rotate(-180deg);
}

.footer {
    padding: 30px 20px;
    border-top: 1px solid rgba(0,0,0,0.1);
    background-color: #fff;
}

.main_search {
    display: flex;
    align-items: center;
   padding: 50px 0;
}

.main_serach--inner {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.main_serach--inner img {
    margin-right: 20px;
    font-size: 20px;
}

.main_search--btn
{
    font-size: 20px;
    width: 130px;
    margin-left: 20px;
}

.main_search--input 
{
    width: 400px;
    height: 50px;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
}

.main_search--area {
    position:relative;
}

.main_table--inner {
    padding: 0 50px;
    margin-top: 40px;
}

.main_table--table {
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.1);
    font-size: 16px;
    display: block;
    margin: 0 auto;
    padding: 20px 40px;
    max-width: 80%;
    min-height: 61vh;
    max-height: 61vh;
    overflow: scroll;
    background-color: #fff;
}

.main_table--head tr th {
    font-size: 25px;
    width: 36%
}

.main_table--body tr {
    height: 50px;
}

.main_table--role-selector {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

.main_table--role-selector:hover {
    box-shadow: 0 0 1px rgba(0,0,0, 0.2)
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #e8ebed;
    border-radius: 10px;
}

